<div id="resumen_pei" ng-controller="resumen_indicador_poa as resumen_indicador_poa">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'resumen_indicador_poa'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'resumen_indicador_poa'}); %>
        </div>
    </div>
</div><!--end-->