<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading panel-dashboard">
                <h6 class="panel-title"></h6>
            </div>
            <div class="panel-body chart-container">
                <div class="chart has-fixed-height" id="columnsstack"></div>
            </div>
            <%- CHART.columns("columnsstack", scope, {}) %>
        </div>
    </div>
</div>
