<div class="subcontent">
    <div class="row">
        <div id="vw_comentarios" ng-controller="vw_comentarios as vw_comentarios">
            <div class="panel panel-flat">
                <%- include('../../7-plugins/templates/table/header',{scope:'vw_comentarios'}); %>
                <div class="subcontent">
                    <%- include('../../7-plugins/templates/table/base',{scope:'vw_comentarios'}); %>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<textarea style="text-align: left;" ng-disabled="true" ng-model="mega_indicadores_poa.commentValue" class="form-control comment_resultM2"></textarea>-->
    <!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--setTimeout(function () {-->
        <!--autosize($('.comment_resultM2'));-->
    <!--},100);-->
<!--</script>-->