<div id="resumen_pei" ng-controller="resumen_pei as resumen_pei">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'resumen_pei'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'resumen_pei'}); %>
        </div>
    </div>
</div><!--end-->