<%- include('../../7-plugins/templates/table/view',{scope:scope}); %>
<br>
<div class="row" id="vw_denominacion_pnpsp" ng-controller="vw_denominacion_pnpsp as vw_denominacion_pnpsp">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'vw_denominacion_pnpsp'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'vw_denominacion_pnpsp'}); %>
        </div>
    </div>
</div><!--end-->