<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('ods', scope, {
                    column: 'nombre',
                    text: 'item.descripcion',
                    table: 'ods_compania',
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('consideraciones', scope, {
                    //maxlength: 200,
                }) %>
            </div>
            <div class='col-sm-12 col-md-12'>
                <%- FORM.relation("meta_localizacion", scope, {
                    text: "item.nombre",
                    table: "meta_localizacion",
                    field: "ods_compania",
                    master: null,
                    icon: {class: "archive"}
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





