<div class="subcontent">
    <div class="tab-pane active" id="basic">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div id="vw_procesos_v2" ng-controller="vw_procesos_v2 as vw_procesos_v2">
                        <div class="panel panel-flat">
                            <%- include('../../7-plugins/templates/table/header',{scope:'vw_procesos_v2'}); %>
                            <div class="subcontent">
                                <%- include('../../5-views/vw_procesos_v2/base',{scope:'vw_procesos_v2'}); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.icon-plus-circle2 ').parent().hide();
    vw_procesos_v2.fixFilters = [
        {
            "field": "mapa_proceso",
            "value": mapa_proceso.dataForView.id
        },
        {
            "field": "estatus_id",
            "operator": "!=",
            "value": 4
        }
    ];
</script>