<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">

    <div class="" ng-if="(autorizar_pei.permitir)">
        <div class="">
            <div class="alert alert-warning alpha-danger border-danger alert-styled-left" style="font-size: 17px;">
                <language>No existe PEI activo</language>
            </div>
        </div>
    </div>
</div><!--end-->