<style>
    @media print {
        @page {
            size: A3;
        }
    }
</style>
<div class="subcontent">
    <div class="row">
        <ul class="visible-elements" style="list-style: none; text-align: center">
            <li dragonlanguage="">
                <button style="margin-top: 10px;width: 25em;"
                        dragonlanguage="" title="Descargar - Formato de Impresión"
                        ng-click="<%= scope %>.exportPDF();"
                        type="button" class="btn bg-<%= COLOR.primary + '-600' %> btn-xs ">
                    Descargar - Formato de impresión
                </button>
            </li>
        </ul>
    </div>
    <div style="overflow: scroll visible; position: static; zoom: 1;min-height: 400px" class="body_pdf">
        <table id="PDF" style="margin-top: 15px;">
            <tr>
                <td colspan="{{riesgo_resultado.E(0).length+2   }}">
                    <h4>Matriz de Calor para {{ riesgo_resultado.empresita}}</h4>
                </td>
            </tr>
            <tr>
                <td colspan="{{riesgo_resultado.E(0).length+2   }}">
                    <div class="" style="padding: 0 20px 10px 20px;">
                        <ul id="leyendas"
                            style="padding: 24px 0;border: none;    list-style: none;    margin-bottom: 0;      border-radius: 3px;">
                            <li ng-repeat="(r,resultados) in riesgo_resultado.resultados">
                                <label style="background-color: {{resultados.color}};    border-radius: 100%;    height: 25px;    width: 25px;    text-align: center;    margin-right: 7px;    margin-left: 27px;    margin-top: -6px;    float: left;"></label>
                                <label style="font-weight: bold;float: left;    margin-left: -3px;">
                                    {{resultados.nombre}} </label>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="(i,impacto) in riesgo_resultado.E(0)">
                <td rowspan="{{riesgo_resultado.E(0).length}}"
                    style="text-align: center;font-weight: bold;transform: rotate(-90deg);font-size: 20px !important;"
                    ng-if="i===0">
                    {{riesgo_resultado.orderst[0]}}   
                </td>
                <td style="text-align: center;font-weight: bold;border-left:3px black solid;">
                        {{impacto.nombre}}    
                </td>
                <td style="background-color: {{riesgo_resultado.getM(probabilidad.id,impacto.id).color}};border: 1px black solid;width: 100px;height: 100px;text-align: center;{{(p==0)?'border-left:3px black solid;':''}}{{(i==(riesgo_resultado.E(1).length-1))?'border-bottom:3px black solid;':''}}"
                    ng-repeat="(p,probabilidad) in riesgo_resultado.E(1)"
                    id="item_p{{probabilidad.id}}_i{{impacto.id}}"
                >
                    <span style="font-weight: bold;font-size: 16px">{{riesgo_resultado.counts(probabilidad.id,impacto.id)}}</span>
                    <br>
                    {{riesgo_resultado.getM(probabilidad.id,impacto.id).nombre}}  
                </td>
            </tr>
            <tr ng-if="riesgo_resultado.E(1)">
                <td style="width: 100px;height: 50px;text-align: center;">

                </td>
                <td style="width: 100px;height: 50px;text-align: center;">

                </td>
                <td style="width: 100px;height: 50px;text-align: center;font-weight: bold;border-bottom: 3px black solid"
                    ng-repeat="(p,probabilidad) in riesgo_resultado.E(1)">
                    {{probabilidad.nombre}}
                </td>
            </tr>
            <tr ng-if="riesgo_resultado.E(1)">
                <td style="width: 100px;height: 50px;text-align: center;">

                </td>
                <td style="width: 100px;height: 50px;text-align: center;">

                </td>
                <td colspan="{{riesgo_resultado.E(1).length}}"
                    style="text-align: center;font-weight: bold;font-size: 20px !important;">
                    {{riesgo_resultado.orderst[1]}}
                </td>
            </tr>
            <tr>
                <td colspan="{{riesgo_resultado.E(1).length+2   }}">
                    <h4>{{riesgo_resultado.fechita}}</h4>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    <%= scope %>.refreshAngular();
</script>
