<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-3 col-md-3'>
                <%- FORM.input('nombre', scope, {trueplaceholder: "Detección"}) %>
            </div>
            <div class='col-sm-3 col-md-3'>
                <%- FORM.integer("valor", scope, {
                    trueplaceholder: "Valor",
                    maxlength: 4
                }) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.textarea('descripcion', scope, {
                    //maxlength: 200,
                    trueplaceholder: "Criterio"
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





