<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">


    <div class="subcontent">
        <div class="panel panel-flat">
            <%-
            include('custom')
            %>

        </div>
    </div>
</div><!--end-->
