<div id="mega_productos_actividades_apoyo" ng-controller="mega_productos_actividades_apoyo as mega_productos_actividades_apoyo">
    <%- include('../../7-plugins/templates/table/header',{scope:'mega_productos_actividades_apoyo'}); %>
    <div class="panel panel-flat">
       <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'mega_productos_actividades_apoyo'}); %>
        </div>
    </div>
</div>