<div class="row">
    <div class="panel panel-white">
            <div class="col-md-12 col-sm-12 pl-0 pr-0" style="padding-left: 21px!important;border-left: 1.2px solid #ddd;">
                <h1 class="text-center fl w-100"></h1>
                <div class="chart-container has-scroll">
                    <div class="chart has-fixed-height" id="area"></div>
                </div>
                <script>
                    // dashboard_indicador_linea.callDataLinea();
                </script>
                <%- CHART.columns("area", scope, {label: "Indicadores"}) %>
            </div>
    </div>

</div>
