<style>
    .dash-presupuesto-detalle {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading panel-dashboard">
                <h6 class="panel-title">Presupuesto</h6>
            </div>
            <div class="panel-body pesupuesto" id="presupuestos" style="cursor: default !important;">
                <div style="border-left: 0px !important;cursor: default !important;"
                     class="col-md-3 col-sm-12 col-md-offset-1">
                    <label class="dash-presupuesto-monto color-aprove" style="cursor: default !important;">{{dashboard.presupuestos.aprobado}}</label>
                    <label class="dash-presupuesto-label" style="cursor: default !important;">Aprobado</label>
                </div>
                <div onclick="dashboard.openmodalactividades('ejecutado')" class="col-md-2 col-sm-12">
                    <label class="dash-presupuesto-monto dash-presupuesto-detalle color-not-execute">{{dashboard.presupuestos.ejecutado}}</label>
                    <label class="dash-presupuesto-label dash-presupuesto-detalle">Ejecutado</label>
                </div>
                <!--<div class="col-md-2 col-sm-12">-->
                <!--<label class="dash-presupuesto-monto color-payment"> {{dashboard.presupuestos.cuentasporpagar}}</label>-->
                <!--<label class="dash-presupuesto-label">Cuentas por Pagar</label>-->
                <!--</div>-->
                <div class="col-md-2 col-sm-12" style="cursor: default !important;">
                    <label class="dash-presupuesto-monto color-schedule" style="cursor: default !important;">{{dashboard.presupuestos.reprogramar}}</label>
                    <label class="dash-presupuesto-label" style="cursor: default !important;">Disponible</label>
                </div>
                <div onclick="dashboard.openmodalactividades('no ejecutado')" class="col-md-3 col-sm-12">
                    <label class="dash-presupuesto-monto dash-presupuesto-detalle color-execute">{{dashboard.presupuestos.noejecutado}}</label>
                    <label class="dash-presupuesto-label dash-presupuesto-detalle">No Ejecutado</label>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-lg-12 pl-0 pr-0" id="productos">
            <div class="panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 ng-show="dashboard.usery.tipo_institucion == 1" class="panel-title">Proyecto/Producto</h6>
                    <h6 ng-show="dashboard.usery.tipo_institucion == 2" class="panel-title">Proyecto/Plan de Acción</h6>
                </div>
                <div class="panel-body">
                    <div style="padding-top: 30px;" class="col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 pricipal col-md-offset-1">
                            <label ng-click="dashboard.openmodalproductos(' ')"
                                   style="{{dashboard.productos.cantidad!='00'?'default':'pointer'}}"
                                   class="dash-presupuesto-monto-2 color-aprove">{{dashboard.productos.cantidad}}</label>
                            <label ng-show="dashboard.usery.tipo_institucion == 1" class="dash-presupuesto-label">Proyecto/Producto</label>
                            <label ng-show="dashboard.usery.tipo_institucion == 2" class="dash-presupuesto-label">Proyecto/Plan de Acción</label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('planificados')"
                                       style="cursor: {{dashboard.productos.planificados!='00'?'default':'pointer'}};"
                                       class="dash-presupuesto-monto-2 color-aprove">{{dashboard.productos.planificados}}</label>
                                <label class="dash-presupuesto-label">Planificados</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('en ejecución')"
                                       style="{{dashboard.productos.ejecucion!='00'?'default':'pointer'}}"
                                       class="dash-presupuesto-monto-2 color-execute">{{dashboard.productos.ejecucion}}</label>
                                <label class="dash-presupuesto-label">En ejecución</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('detenidos')"
                                       style="{{dashboard.productos.detenidos!='00'?'default':'pointer'}}"
                                       class="dash-presupuesto-monto-2 color-stop">{{dashboard.productos.detenidos}}</label>
                                <label class="dash-presupuesto-label">Detenidos</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('vencidos')"
                                       style="{{dashboard.productos.vencidos!='00'?'default':'pointer'}}"
                                       class="dash-presupuesto-monto-2 color-not-execute">{{dashboard.productos.vencidos}}</label>
                                <label class="dash-presupuesto-label">Vencidos</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('completados')"
                                       style="{{dashboard.productos.completados!='00'?'default':'pointer'}}"
                                       class="dash-presupuesto-monto-2 color-completed">{{dashboard.productos.completados}}</label>
                                <label class="dash-presupuesto-label">Completados</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalproductos('cancelados')"
                                       style="{{dashboard.productos.cancelados!='00'?'default':'pointer'}}"
                                       class="dash-presupuesto-monto-2 color-cancel">{{dashboard.productos.cancelados}}</label>
                                <label class="dash-presupuesto-label">Cancelados</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 pl-0 pr-0" id="actividades">
            <div class="panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 class="panel-title">Actividades</h6>
                </div>
                <div class="panel-body">
                    <div style="padding-top: 30px;" class="col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 pricipal col-md-offset-1">
                            <label ng-click="dashboard.openmodalactividades(' ')"
                                   style="{{dashboard.actividades.cantidad!='00'?'pointer':'default'}}"
                                   class="dash-presupuesto-monto-2 color-aprove">{{dashboard.actividades.cantidad}}</label>
                            <label class="dash-presupuesto-label">Actividades</label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('planificados')"
                                       style="{{dashboard.actividades.planificados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-aprove">{{dashboard.actividades.planificados}}</label>
                                <label class="dash-presupuesto-label">Planificadas</label>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('pendientes')"
                                       style="{{dashboard.actividades.pendientes!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-pending">{{dashboard.actividades.pendientes}}</label>
                                <label class="dash-presupuesto-label">Pendientes a Ejecución</label>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('en ejecución')"
                                       style="{{dashboard.actividades.ejecucion!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-execute">{{dashboard.actividades.ejecucion}}</label>
                                <label class="dash-presupuesto-label">En ejecución</label>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('detenidos')"
                                       style="{{dashboard.actividades.detenidos!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-stop">{{dashboard.actividades.detenidos}}</label>
                                <label class="dash-presupuesto-label">Detenidas</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('vencidos')"
                                       style="{{dashboard.actividades.vencidos!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-not-execute">{{dashboard.actividades.vencidos}}</label>
                                <label class="dash-presupuesto-label">Vencidas</label>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('completados')"
                                       style="{{dashboard.actividades.completados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-completed">{{dashboard.actividades.completados}}</label>
                                <label class="dash-presupuesto-label">Completadas</label>
                            </div>
                            <div class="col-md-3  col-sm-12">
                                <label ng-click="dashboard.openmodalactividades('cancelados')"
                                       style="{{dashboard.actividades.cancelados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-cancel">{{dashboard.actividades.cancelados}}</label>
                                <label class="dash-presupuesto-label">Canceladas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 pl-0 pr-0" id="asignaciones">
            <div class="panel panel-white">
                <div class="panel-heading panel-dashboard">
                    <h6 class="panel-title">Asignaciones Especiales</h6>
                </div>
                <div class="panel-body">
                    <div style="padding-top: 30px;" class="col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 pricipal col-md-offset-1">
                            <label ng-click="dashboard.openmodalasignaciones(' ')"
                                   style="{{dashboard.asignaciones.cantidad!='00'?'pointer':'default'}}"
                                   class="dash-presupuesto-monto-2 color-aprove">{{dashboard.asignaciones.cantidad}}</label>
                            <label class="dash-presupuesto-label">Asignaciones</label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalasignaciones('planificados')"
                                       style="{{dashboard.planificados.planificados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-aprove">{{dashboard.asignaciones.planificados}}</label>
                                <label class="dash-presupuesto-label">Planificadas</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalasignaciones('en ejecución')"
                                       style="{{dashboard.asignaciones.ejecucion!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-execute">{{dashboard.asignaciones.ejecucion}}</label>
                                <label class="dash-presupuesto-label">En ejecución</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalasignaciones('vencidos')"
                                       style="{{dashboard.asignaciones.vencidos!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-not-execute">{{dashboard.asignaciones.vencidos}}</label>
                                <label class="dash-presupuesto-label">Vencidas</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalasignaciones('completados')"
                                       style="{{dashboard.asignaciones.completados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-completed">{{dashboard.asignaciones.completados}}</label>
                                <label class="dash-presupuesto-label">Completadas</label>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label ng-click="dashboard.openmodalasignaciones('cancelados')"
                                       style="{{dashboard.asignaciones.cancelados!='00'?'pointer':'default'}}"
                                       class="dash-presupuesto-monto-2 color-cancel">{{dashboard.asignaciones.cancelados}}</label>
                                <label class="dash-presupuesto-label">Canceladas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="indicadores">
        <div id="vw_dashboard_productosgrid" ng-show="dashboard.departamento!= '[NULL]'"
             ng-controller="vw_dashboard_productosgrid as vw_dashboard_productosgrid">
            <div class="panel panel-flat">
                <%- include('../../7-plugins/templates/table/header',{scope:'vw_dashboard_productosgrid'}); %>
                <div class="subcontent">
                    <%- include('../../7-plugins/templates/table/base',{scope:'vw_dashboard_productosgrid'}); %>
                </div>
            </div>
        </div><!--end-->
    </div>
</div>
