<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('nombre_completo', scope, {
                }) %>
            </div>
            <div class='col-sm-4 col-md-4'>
                <%- FORM.input('correo', scope, {}) %>
            </div>
            <div class='col-sm-4 col-md-4' ng-show="involucrados.entidad != 'proyectos'">
                <%- FORM.select('tipo', scope, {
                    allownew: false,
                    allowedit: false,
                    allowlist: false,
                    column: 'name',
                    table: 'involucrados_tipo',
                    text: 'item.nombre',
                    condition: "item.id != 6"
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





