<div class="row">
    <div id="comentarios_actividad_apoyo " ng-controller="comentarios_actividad_apoyo as comentarios_actividad_apoyo">
        <div class="panel panel-flat">
            <%- include('../../7-plugins/templates/table/header',{scope:'comentarios_actividad_apoyo'}); %>
            <div class="subcontent">
                <%- include('../../7-plugins/templates/table/base',{scope:'comentarios_actividad_apoyo'}); %>
            </div>
        </div>
    </div>
</div>