<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%-include('custom');%>

        <div class="subcontent">

        </div>
    </div>
</div><!--end-->