<script>
    procesos_mapa_conceptual.fixFilters = [{
        "field": "proceso",
        "value": procesos?.id
    }];
</script>
<br>
<div class="table table-togglable table-framed">
    <div id="documentos_asociados_mapa_conceptual" ng-controller="procesos_mapa_conceptual as procesos_mapa_conceptual">
        <div class="panel panel-flat">
            <%- include('../../7-plugins/templates/table/header',{scope:'procesos_mapa_conceptual'}); %>
            <div class="subcontent">
                <div class="col-md-12" style="padding: 0">
                    <%- include('../../7-plugins/templates/table/base',{scope:'procesos_mapa_conceptual'}); %>
                </div>
            </div>
        </div>
    </div>
</div>