<%- include('../../7-plugins/templates/table/view',{scope:scope}); %>
<script>
    vw_objetivos.fixFilters = [{
        "field": "objetivo_estrategico",
        "value": objetivo_estrategico.dataForView.id
    }];
</script>
<div><br></div>
<div class="table table-togglable table-framed" ng-show="objetivo_estrategico.session.tipo_institucion===1">
    <div id="vw_objetivos" ng-controller="vw_objetivos as vw_objetivos">
        <div class="panel panel-flat">
            <%- include('../../7-plugins/templates/table/header',{scope:'vw_objetivos'}); %>
            <div class="subcontent">
                <%- include('../../7-plugins/templates/table/base',{scope:'vw_objetivos'}); %>
            </div>
        </div>
    </div>
</div>
