<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("nombre", scope, {maxlength: 64}) %>
            </div>
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("descripcion", scope, {maxlength: 255}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("cantidad", scope, {maxlength: 20}) %>
            </div>
        </div>
    </div>
</div>
<%- FORM.footer(scope) %>