<div class="row">
    <!--<div  class="col-md-4">-->
        <!--<%- FORM.inputview("usuario",scope,{placeholder: "Usuario Última Actualización"})%>-->
    <!--</div>-->
    <!--<div style="padding-bottom: 5px" class="col-md-4">-->
        <!--<%- FORM.inputview("fecha",scope,{placeholder: "Fecha Última Actualización"})%>-->
    <!--</div>-->
    <div class="col-md-12" dragonlanguage="">
        <label><language>Comentario</language></label>
        <textarea style="text-align: left; width: 100% " ng-disabled="true" ng-model="mega_actividades.rs_comment" class="form-control comment_result"></textarea>

    </div>
</div>
<script>
    setTimeout(function () {
        autosize($('.comment_result'));
    },100);
</script>