<div id="mega_actividades_asociadas" ng-controller="mega_actividades_asociadas as mega_actividades_asociadas">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'mega_actividades_asociadas'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'mega_actividades_asociadas'}); %>
        </div>
    </div>
</div>