<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-4 col-md-4'>
                <%- FORM.select('usuario', scope, {
                    column: 'name',
                    table: 'usuario',
                    //self: true,
                    //allownull: true,
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre+' '+item.apellido",
                }) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





