<div class="row">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="panel-heading panel-dashboard">
                <h6 class="panel-title">Estadísticas</h6>
            </div>
            <div class="col-md-6 col-sm-4 pl-0 pr-0">
                <label class="text-center fl w-100"></label>
                <div class="chart has-fixed-height" id="pie"></div>
                <%- CHART.pie("pie", scope, {label: "Proyecto/Producto"}) %>
            </div>
            <div class="col-md-6 col-sm-6 pl-0 pr-0">
                <label class="text-center fl w-100"></label>
                <div class="chart has-fixed-height" id="pie2"></div>
                <%- CHART.pie("pie2", scope, {label: "Actividades"}) %>
            </div>
            <div class="col-md-6 col-sm-6 pl-0 pr-0">
                <label class="text-center fl w-100"></label>
                <div class="chart has-fixed-height" id="pie3"></div>
                <%- CHART.pie("pie3", scope, {label: "Asignaciones"}) %>
            </div>
        </div>
    </div>

</div>
