<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <%- FORM.integer("edt", scope, {maxlength: 5}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <%- FORM.input("nombre", scope, {maxlength: 1000}) %>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-8 col-md-8">
                <%-
                // FORM.input("descripcion", scope, {placeholder:"Descripción",maxlength: 255})
                FORM.textarea('descripcion', scope, {maxlength: 1000})
                %>
            </div>
        </div>

    </div>
</div>
<%- FORM.footer(scope) %>
