<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading panel-dashboard">
                <h6 class="panel-title"></h6>
            </div>
            <div class="panel-body chart-container">
                <div class="chart has-fixed-height" id="area4"></div>
            </div>
        </div>
        <%- CHART.columns("area4", scope, {label: "Indicadores de Proceso"}) %>
    </div>
</div>




