<div class="page-header-lg page-header-sm page-header">
    <%- include('../../7-plugins/templates/header/begin',{scope:scope}); %>
    <ul class="breadcrumb-elements visible-elements">
        <li dragonlanguage="">
             <!--PEI  {{presupuesto_aprobado.session.periodo_desde}}  - {{presupuesto_aprobado.session.periodo_hasta}} / POA {{presupuesto_aprobado.session.periodo_poa}}-->
        </li>
    </ul>
    <%- include('../../7-plugins/templates/header/end',{scope:scope}); %>
</div>
