<%- include('../../7-plugins/templates/table/view',{scope:scope}); %>
<br>
<div id="vw_impacto_politica" ng-controller="vw_impacto_politica as vw_impacto_politica">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'vw_impacto_politica'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'vw_impacto_politica'}); %>
        </div>
    </div>
</div><!--end-->