<div class="row text-center" id="toprint">

    <h2>{{vw_eje_estrategico_ods3.titles["B"]}}</h2>
    <div class="col-md-12" style="padding: 0;">
        <ul id="leyendas" class="list-group" style="padding: 24px 0;">
            <li ng-repeat="(i,range) in vw_eje_estrategico_ods3.ranges"
                title="Progreso desde {{range.from}} hasta {{range.to}}">
                <label class="ponerRedondo" style="background-color: {{range.color}};"></label>
                <label class="labelRedondo"> {{range.titulo}} </label>
            </li>
        </ul>
    </div>
    <div class='col-sm-12 col-md-12' style="margin-top: 10px;    padding: 0px;">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="row" style="margin-top: 20px"
                     ng-repeat="(o,pairs) in [[1,2,3,4,5,6,7,8,9],[10,11,12,13,14,15,16,17]]">
                    <table class="table-responsive table table-striped  table-togglable table-framed sindu-table dragon-table">
                        <tbody>
                        <tr>
                            <td ng-repeat="(i,ods) in vw_eje_estrategico_ods3.ODSDATA"
                                ng-if="pairs.indexOf(ods.edt)!==-1"
                                class="text-center" style="vertical-align: bottom;    padding: 5px;width: 11%">
                                <div><span ng-style="{'color': ods.colorName}">{{ods.edt}}</span></div>
                                <div><h4> {{ods.nombre}}</h4></div>
                                <div>
                                    <img
                                            ng-if="vw_eje_estrategico_ods3.graficos['C'][ods.edt+' '+ods.nombre].value"
                                            style="width: 100%;"
                                            ng-src="{{vw_eje_estrategico_ods3.odsimages[ods.edt+' '+ods.nombre]}}">

                                    <img
                                            ng-if="!vw_eje_estrategico_ods3.graficos['C'][ods.edt+' '+ods.nombre].value"
                                            style="width: 100%;filter: grayscale(1)"
                                            ng-src="{{vw_eje_estrategico_ods3.odsimages[ods.edt+' '+ods.nombre]}}">
                                </div>
                                <div style="font-weight: bold">
                                    <h5 style="margin: 0;">
                                        {{vw_eje_estrategico_ods3.graficos["C"][ods.edt+' '+ods.nombre].value}}%
                                        <a ng-click="vw_eje_estrategico_ods3.modoGrafico(ods.edt+' '+ods.nombre,undefined,vw_eje_estrategico_ods3.graficos['C'][ods.edt+' '+ods.nombre].value)"

                                           title="Ver Productos ({{vw_eje_estrategico_ods3.graficos['C'][ods.edt+' '+ods.nombre].count}})"
                                           data-action="Ver">
                                            <i class="icon-eye "></i>
                                        </a>
                                    </h5>

                                </div>
                                <div style="width: 100%;color: white;font-weight: bold"
                                     ng-if="vw_eje_estrategico_ods3.graficos.C[ods.edt+' '+ods.nombre].value"
                                     ng-style="{'height':(vw_eje_estrategico_ods3.graficos.C[ods.edt+' '+ods.nombre].value)*2,'background-color':ods.colorName }">
                                </div>
                                <div style="width: 100%;color: white;background-color: {{vw_eje_estrategico_ods3.graficos['C'][ods.edt+' '+ods.nombre].color}}"
                                     ng-if="vw_eje_estrategico_ods3.graficos.C[ods.edt+' '+ods.nombre].value">
                                    {{vw_eje_estrategico_ods3.graficos["C"][ods.edt+' '+ods.nombre].estatus}}
                                </div>
                                <div style="width: 100%;color: black;font-weight: bold;padding-top: 15px;"
                                     ng-if="!vw_eje_estrategico_ods3.graficos.C[ods.edt+' '+ods.nombre].value"
                                     ng-style="{'background-color':'white' }">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    vw_eje_estrategico_ods3.refreshAngular();
</script>

<style>
    .grafe div {
        height: 170px !important;
    }
</style>
