<div id="mega_comentario_presupuesto_poa" ng-controller="mega_comentario_presupuesto_poa as mega_comentario_presupuesto_poa">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'mega_comentario_presupuesto_poa'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'mega_comentario_presupuesto_poa'}); %>
        </div>
    </div>
</div><!--end-->