<div id="pacc_auditoria" ng-controller="pacc_auditoria as pacc_auditoria">
    <div class="panel panel-flat">
        <%- include('../../7-plugins/templates/table/header',{scope:'pacc_auditoria'}); %>
        <div class="subcontent">
            <%- include('../../7-plugins/templates/table/base',{scope:'pacc_auditoria'}); %>
        </div>
    </div>
</div><!--end-->
