<div class="subcontent">
    <div class="row">
        <div class="col-sm-12 col-md-4" ng-show="false">
            <%- FORM.select("documento_responsable", scope, {
                allowedit: false,
                allowlist: false,
                allownew: false,
                allowview: false,
                multiple: true,
                disabled: true,
                text: "item.nombre + ' ' + item.apellido",
                value: "id",
                table: "usuario",
                icon: {class: "archive"},
                truelabel: "Responsable",
                condition: "(item.compania == auditoria_programa_plan.session.compania_id && item.institucion == $null) && (item.active)",
                get: {
                    table: 'auditoria_programa_plan_documentos_asociados_responsables',
                    fieldFrom: 'id',
                    fieldTo: 'programa_plan_documentos_asociados',
                    field: 'usuario'
                },
                    // parent: {
            //     model: 'eje_estrategico',
            //     myfield: 'id',
            //     sufield: 'id'
            // },
            })%>
        </div>
        <div id="auditoria_programa_plan_documentos_asociados_listaverificacion" ng-controller="auditoria_programa_plan_documentos_asociados_listaverificacion as auditoria_programa_plan_documentos_asociados_listaverificacion">
            <div class="panel panel-flat">
                <%- include('../../7-plugins/templates/table/header',{scope:'auditoria_programa_plan_documentos_asociados_listaverificacion'}); %>
                <div class="subcontent">
                    <%- include('../../5-views/auditoria_programa_plan_documentos_asociados_listaverificacion/base',{scope:'auditoria_programa_plan_documentos_asociados_listaverificacion'}); %>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: -20px">
        <div class="tab-content">
            <div class="tab-pane active" id="basic">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 5px 10px 0 10px; background-color: #f4f4f4;">
                        <label style="font-family: 'Arial Narrow'; font-size: 21px;">Observaciones</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <%- FORM.textarea("observaciones", scope, {
                                    placeholder: "Observación",
                                    disabled: true
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("add", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("edit", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("remove", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("export", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("check", true);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("view", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("audit", false);
        auditoria_programa_plan_documentos_asociados_listaverificacion.setPermission("actions", false);
        auditoria_programa_plan.observaciones = auditoria_programa_plan.documento.observaciones;
        auditoria_programa_plan.refreshAngular();
        setTimeout(async function(){
            auditoria_programa_plan.responsables_list = await BASEAPI.listp('auditoria_programa_plan_documentos_asociados_responsables', {
                where: [
                    {
                        field: "programa_plan_documentos_asociados",
                        value: auditoria_programa_plan.documento.id
                    }
                ]
            })
            for (var i of auditoria_programa_plan.responsables_list.data){
                var usuario_id = i.usuario + '';
                auditoria_programa_plan.documento_responsable.push(usuario_id)
            }
            auditoria_programa_plan.form.loadDropDown('documento_responsable');
        }, 500);
    })
</script>

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<textarea style="overflow: hidden; overflow-wrap: break-word;" ng-disabled="!indicador_producto_poa.edit" ng-model="indicador_producto_poa.commentValue" class="form-control comment_result"></textarea>-->
    <!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--setTimeout(function () {-->
        <!--autosize($('.comment_result'));-->
    <!--},100);-->

    <!--$('#btnS').on('click',function () {-->
        <!--$(`[name=${indicador_producto_poa.commentName}]`).val($('.comment_result').val());-->
        <!--var comment = $('.comment_result').val();-->
        <!--SWEETALERT.loading({message: MESSAGE.ic('mono.procesing')});-->
        <!--BASEAPI.updateall('indicador_poa_periodo', {-->
            <!--"comentario": comment,-->
            <!--"updated_at":  new date().now(),-->
            <!--'updated_by': indicador_producto_poa.usuario_id,-->
            <!--where: [{-->
                <!--"field": "id",-->
                <!--"value": indicador_producto_poa.ids-->
            <!--}]-->
        <!--}, function (result) {-->

        <!--});-->
        <!--SWEETALERT.stop();-->
        <!--MODAL.close();-->
    <!--});-->
<!--</script>-->